/* ----------------------------------------------------------------------- */
/*                         HOMEPAGE PAGINA                                 */
/* ----------------------------------------------------------------------- */
/* -------------------------------------------- */
/*                    VARIABLEN                 */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*                    FONTS                     */
/* -------------------------------------------- */
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../Assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../Assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
/* -------------------------------------------- */
/*                    CONTAINER                 */
/* -------------------------------------------- */
body {
  font-family: Roboto-Regular !important;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

/* -------------------------------------------- */
/*                    SIDEBAR                   */
/* -------------------------------------------- */
#sidebar {
  background-color: #073f7f;
  width: 240px;
  height: 100%;
  float: left;
  overflow: hidden !important;
}

.sidebarLi {
  padding: 1rem;
  color: #fff;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid #00316a;
}

.sidebarLi:hover {
  background-color: rgba(0, 49, 106, 0.31);
  text-decoration: none;
}

.sidebarLiUitloggen {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  list-style-type: none;
  text-align: left;
  position: absolute;
  vertical-align: bottom;
  bottom: 0px;
  border-top: 1px solid #00316a;
  width: 240px;
}

.sidebarUl {
  padding: 0px;
  overflow: hidden;
  height: 100% !important;
  display: inline;
}

.sidebarIcons {
  padding-right: 20px;
  font-size: 1.3rem;
}

.fas {
  width: 23.41px !important;
  padding-right: 11px;
}

.profile-picture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #00316a;
}

.sidebarUsername {
  float: right;
  position: relative;
  right: 2.3rem;
  top: 1.6rem;
  font-family: Roboto-Bold;
  margin: 0;
}

.adminVersie {
  float: right;
  position: relative;
  right: -0.6rem;
  top: 3rem;
  margin: 0;
  font-weight: 100;
  font-family: Roboto-Regular;
  font-size: 0.9rem;
}

ul.nav a {
  cursor: pointer;
}

.active {
  background: #00316a;
}

.sidebarProfilePicture {
  padding: 1rem;
  color: #fff;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid #00316a;
}

/* -------------------------------------------- */
/*                    NAV                       */
/* -------------------------------------------- */
nav.navbar.navbar-light.bg-light.justify-content-between {
  height: 70px;
}

button.btn.btn-primary.nav-buttons {
  background-color: #073f7f;
  border-color: #073f7f;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  font-family: Roboto-Bold;
  text-transform: uppercase;
  text-transform: uppercase;
  background: linear-gradient(to right, #073f7f 0%, #4787d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------------------------------------- */
/*                BODY WIDGETS                  */
/* -------------------------------------------- */
.row.widgets {
  margin: 0px;
}

.container-fluid.body {
  margin-top: 2rem;
}

.card-body {
  background-color: #00316a !important;
  border-radius: 6px;
  display: grid;
  text-align: right;
}

.card.text-white.mb-3 {
  border-color: #073f7f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.card-title {
  float: right;
  margin-bottom: 0;
}

.card-text {
  float: right;
}

h1.card-title.numbers {
  font-family: Roboto-Bold;
}

.card-icons {
  float: left;
  font-size: 2.5rem;
}

i.fas.fa-users.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-star-half-alt.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-box.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-money-bill-wave.cardWidget {
  width: 55px !important;
  float: left;
}

/* ----------------------------------------------------------------------- */
/*                         GEBRUIKERS PAGINA                               */
/* ----------------------------------------------------------------------- */
.card-body-table {
  padding: 18px;
}

.card.text-black.mb-5.mt-5 {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

/* ----------------------------------------------------------------------- */
/*                         GEBRUIKERS PAGINA DATA TABLE                    */
/* ----------------------------------------------------------------------- */
input[type=search] {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 10px;
}

select {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.paginate_button:hover {
  background: #00316a !important;
  border-color: #00316a !important;
}

a.paginate_button.current {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  background: #073f7f !important;
  color: #fff !important;
}

a#gebruikers_previous:hover {
  color: #fff !important;
}

thead {
  font-family: Roboto-Bold !important;
}

.selectDatatable {
  float: left;
  margin-right: 20px;
}

button.dt-button.Toevoegen {
  float: left !important;
  font-family: Roboto-Medium;
  background-color: #177a17 !important;
  color: #fff !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div#gebruikers_filter {
  float: right !important;
}

select {
  font-family: "Roboto-Bold";
}

.uitvoeren {
  font-family: Roboto-Medium;
  background-color: #073f7f !important;
  color: #fff !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*# sourceMappingURL=BackendCSS.css.map */
