// sass --watch BackendCSS.scss:BackendCSS.css
/* ----------------------------------------------------------------------- */
/*                         HOMEPAGE PAGINA                                 */
/* ----------------------------------------------------------------------- */
/* -------------------------------------------- */
/*                    VARIABLEN                 */
/* -------------------------------------------- */
$main_color: #073f7f;
$main_color_shadow: #00316a;

/* -------------------------------------------- */
/*                    FONTS                     */
/* -------------------------------------------- */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/Roboto/Roboto-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../Assets/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../Assets/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}


/* -------------------------------------------- */
/*                    CONTAINER                 */
/* -------------------------------------------- */
body {
  font-family: Roboto-Regular !important;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

/* -------------------------------------------- */
/*                    SIDEBAR                   */
/* -------------------------------------------- */
#sidebar {
  background-color: $main_color;
  width: 240px;
  height: 100%;
  float: left;
  overflow: hidden !important;
}

.sidebarLi {
  padding: 1rem;
  color: #fff;
  list-style-type: none;
  text-align: left;
  border-bottom: 2px solid $main_color_shadow;
}

.sidebarLiUitloggen {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  list-style-type: none;
  text-align: left;
  position: absolute;
  vertical-align: bottom;
  bottom: 0px;
  border-top: 2px solid #00316a;
  width: 260px;

}

.sidebarUl {
  padding: 0px;
  overflow: hidden;
  height: 100% !important;
  display: inline;
}

.sidebarIcons {
  padding-right: 20px;
  font-size: 1.3rem;
}

.fas {
  width: 23.41px !important;
  padding-right: 11px;
}

.profile-picture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid $main_color_shadow;
}

.sidebarUsername {
  float: right;
  position: relative;
  right: 2.3rem;
  top: 1.6rem;
  font-family: Roboto-Bold;
  margin: 0;
}

.adminVersie {
  float: right;
  position: relative;
  right: -0.6rem;
  top: 3rem;
  margin: 0;
  font-weight: 100;
  font-family: Roboto-Regular;
  font-size: 0.9rem;
}

/* -------------------------------------------- */
/*                    NAV                       */
/* -------------------------------------------- */
nav.navbar.navbar-light.bg-light.justify-content-between {
  height: 70px;
}

button.btn.btn-primary.nav-buttons {
  background-color: $main_color;
  border-color: $main_color;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  font-family: Roboto-Bold;
  text-transform: uppercase;
  text-transform: uppercase;
  background: linear-gradient(to right, #073f7f 0%, #4787d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -------------------------------------------- */
/*                BODY WIDGETS                  */
/* -------------------------------------------- */
.row.widgets {
  margin: 0px;
}

.container-fluid.body {
  margin-top: 2rem;
}

.card-body {
  background-color: $main_color_shadow !important;
  border-radius: 6px;
  display: grid;
  text-align: right;
}

.card.text-white.mb-3 {
  border-color: $main_color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
  border: none;
}

.card-title {
  float: right;
  margin-bottom: 0;
}

.card-text {
  float: right;
}

h1.card-title.numbers {
  font-family: Roboto-Bold;
}

.card-icons {
  float: left;
  font-size: 2.5rem;
}

i.fas.fa-users.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-star-half-alt.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-box.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-money-bill-wave.cardWidget {
  width: 55px !important;
  float: left;
}
/* ----------------------------------------------------------------------- */
/*                         GEBRUIKERS PAGINA                               */
/* ----------------------------------------------------------------------- */
.datatableGebruikers {
  width: 100%;
  margin-left: 15px;
}