.image-detail {
  width: 100%;
  background-repeat: no-repeat;
}

.winkelwagen {
  background-color: $main_color_light !important;
}

@media only screen and (max-width: 628px) {
 .bike_information_detail {
   text-align: center !important;
 }

  .prijsdetail {
    float: none !important;
  }

  .winkelwagen {
    margin:  0!important;
    width: 100%;
  }
}