.checkbox-type-fietsen {
  display: block !important;
}

.mdc-slider__pin-value-marker {
  font-size: .575rem !important;
}

.onbeschadigt {
  padding-right: 10rem;
}

.display-inherit {
  display: inherit !important;
}

@media only screen and (max-width: 925px) {
  .bike {
    text-align: center !important;
    padding: 0 !important;
  }

  .header {
    display: none;
  }
}