.checkbox-type-fietsen {
  display: block !important;
}

.mdc-slider__pin-value-marker {
  font-size: .575rem !important;
}

.onbeschadigt {
  padding-right: 10rem;
}

.display-inherit {
  display: inherit !important;
}

#fietsen {
  text-align: center;
}

.showFilter {
  display: inherit !important;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);

  .mdc-form-field.d-block {
    color: #fff !important;
  }

  .type-fiets {
    color: #fff !important;
  }
}

@media only screen and (max-width: 992px) {
  div#mobile-header {
    display: none;
  }

  #fietsen {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .fietsen {
    width: 100%;
  }

  // Desktop buttons hiden
  .navbar-buttons-top {
    display: none;
  }

  div#filter-header {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #mobile-header {
    display: none !important;
  }
}


