/* -------------------------------------------- */
/*    sass --watch backend.scss:backend.css     */
/*                    VARIABLEN                 */
/* -------------------------------------------- */

$main_color: #073f7f;
$main_color_shadow: #073A74;
$main_color_light: #1587d2;
$sidebar: #07356A;
$succes: #1AAF00;

@import 'fonts';
@import "backend-pages/sidebar";
@import "backend-pages/nav";
@import "backend-pages/medewerkers-pagina";
@import "backend-pages/dashboard";
@import "backend-pages/klanten-pagina";
@import "backend-pages/bestellingen_pagina";
@import "backend-pages/fietsen";
@import "backend-pages/fietsen_bekijken";
@import "backend-pages/datatable";
@import "backend-pages/aanbiedingen";
@import "backend-pages/reviews";
@import "backend-pages/nieuwsbrief";
@import "backend-pages/login";
@import "backend-pages/wachtwoord_vergeten";



/* -------------------------------------------- */
/*                    CONTAINER                 */
/* -------------------------------------------- */

body, html {
  font-family: Roboto-Regular;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.mt-6rem {
  margin-top: 6rem !important;
}

.bRoboto {
Font-family: Roboto-Bold !important;
}

.iRoboto {
  Font-family: Roboto-Italic !important;
}

.mRoboto {
  Font-family: Roboto-Medium !important;
}

:root {
  --mdc-theme-primary: #073f7f;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

.w-91 {
  width: 91% !important;
}


.main-color {
  background: $main_color !important;
  border-color: $main_color !important;
}

.main-color-light {
  background-color: $main_color_light !important;
  border-color: $main_color_light !important;
}

.error {
  background-color: #b00020 !important;
}

.no-border {
  border: 0px !important;
}


.bRoboto {
  Font-family: Roboto-Bold !important;
}

.iRoboto {
  Font-family: Roboto-Italic !important;
}

.mRoboto {
  Font-family: Roboto-Medium !important;
}

.rRoboto {
  Font-family: Roboto-Regular !important;
}