/* -------------------------------------------- */
/*    sass --watch backend.scss:backend.css     */
/*                    VARIABLEN                 */
/* -------------------------------------------- */
$main_color: #073f7f;
$main_color_shadow: #00316a;
$hover: #0b86d8;

@import 'fonts';
@import "backend-pages/sidebar";
@import "backend-pages/nav";
@import "backend-pages/gebruikers-pagina";
@import "backend-pages/dashboard";
@import "backend-pages/klanten-pagina";
@import "backend-pages/bestellingen_pagina";
@import "backend-pages/fietsen";
@import "backend-pages/datatable";
@import "backend-pages/aanbiedingen";
@import "backend-pages/reviews";
@import "backend-pages/nieuwsbrief";


/* -------------------------------------------- */
/*                    CONTAINER                 */
/* -------------------------------------------- */
body {
  font-family: Roboto-Regular;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

