/* -------------------------------------------- */
/*                    FONTS                     */
/* -------------------------------------------- */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: normal;
  src: url("../Assets/fonts/Roboto/Roboto-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  src: url("../Assets/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("../Assets/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
}