/* ----------------------------------------------------------------------- */
/*                              DATA TABLE                                 */
/* ----------------------------------------------------------------------- */
.card-body-table {
  padding: 18px;
}

.card.text-black.mb-5.mt-5 {
  margin-right: 30px;
  margin-left: 30px;
  width: 100%;
}

a#gebruikers_previous:hover {
  color: #fff !important;
}

thead {
  font-family: Roboto-Bold !important;
}

.selectDatatable {
  float: left;
  margin-right: 20px;
}

.toevoegen {
  float: left !important;
  font-family: Roboto-Medium;
  background-color: #177a17 !important;
  color: #fff !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div#gebruikers_filter {
  float: right !important;
  font-family: Roboto-Bold !important;
}

#gebruikers_length {
  float: right !important;
  height: 28px !important;
}