.container-fluid {
  padding: 0 !important;
}

.image {
  max-height: 100%;
  width: 132px;
}

.fontSize1-2rem {
  font-size: 1.2rem;
}

.account {
  height: 40px;
}

.nav-item {
  font-size: 1.1rem;
}

.alert {
  border-radius: 0 !important;
  height: 50px;
  margin-bottom: 0;
}

.image-responsive {
  background-image: url("../assets/img/background.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 100;
}

.full-image {
  position: relative;
  top: 30%;
}

.bespaar {
  font-size: 1.6rem;
}

#voordeel {
  background-color: $main_color;
  border-radius: 7px;
}

.oudeprijs {
  text-decoration: line-through;
}

#datum {
  font-size: 0.8rem;
}

#nieuwsbrief {
  background-color: $main_color_light;
}

.inschrijven {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
}

#service {
  background-color: $main_color_light;
  height: 100%;
}

.service-ul {
  list-style-type: none;
  padding-left: 1.5rem;
}

#copyright {
  background-color: #bababa4a;
}

.copyright-text {
  color: #a1a1a1;
}


/* MODIFICATIE VAN DE INPUT FIELD VAN MATERIAL IO*/

// Border
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: #fff;
}

// Input color
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color:#fff;
}

// Label
label.mdc-floating-label {
color: #fff !important;
}


// Focus input
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #fff !important;
}
// --------


// Media Queries Mobile
@media only screen and (max-width: 1074px) {
  .gebruikteFiets {
    float: left !important;
  }

  .alert {
    height: 75px;
  }
}

// Media Queries Mobile
@media only screen and (max-width: 992px) {
  #navbar-buttons-top {
    display: none !important;
  }
}

@media only screen and (max-width: 381px) {
  .navbar-brand {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
}

// Alert weghalen
@media only screen and (max-width: 627px) {
  #alert {
    display: none !important;
  }
}