/* -----------------------
          MAIN CSS
----------------------- */
$main_color: #073f7f;
$main_color_shadow: #073A74;
$main_color_light: #1587d2;
$sidebar: #07356A;
$succes: #1AAF00;

@import "pagina/index";
@import "pagina/fietsen_pagina";
@import "pagina/detail_pagina";
@import "fonts";
@import "pagina/winkelwagen";


.main-color {
  color: $main_color;
}

.main-color-light {
  color: $main_color_light;
}

body, html {
  font-family: Roboto-Regular !important;
  height: 100% !important;
  width: 100% !important;
}

.bRoboto {
  Font-family: Roboto-Bold !important;
}

.iRoboto {
  Font-family: Roboto-Italic !important;
}

.mRoboto {
  Font-family: Roboto-Medium !important;
}

.rRoboto {
  Font-family: Roboto-Regular !important;
}

.fontSize1rem {
  font-size: 1rem !important;
}

.line-through {
  text-decoration: line-through;
}

.color-light {
  color: rgba(0,0,0,.5) !important;
}

.nav-item {
  font-size: 1rem !important;
}

.border-radius0 {
  border-radius: 0 !important;
}

.border-0 {
  border: 0 !important;
}

.dismiss-button {
  bottom: 0;
  position: absolute;
  left: 0;
  top: 9px;
}

.succes {
  color: $succes;
}

.w-72 {
  width: 72% !important;
}

.w-15 {
  width: 15% !important;
}

.w-82 {
  width: 82% !important;
}

.w-91 {
  width: 91% !important;
}