div#aanbiedingen_filter {
  float: right;
  font-family: Roboto-Bold !important;
}

div#aanbiedingen_length {
  float: right;
  font-family: Roboto-Bold !important;
}

a#aanbiedingen_previous:hover {
  color: #fff !important;
}

a#aanbiedingen_next:hover {
  color: #fff !important;
}