/* ----------------------------------------------------------------------- */
/*                              DATA TABLE                                 */
/* ----------------------------------------------------------------------- */
#bestellingen-openstaand_length {
  float: right !important;
  height: 28px !important;
}

div#bestellingen-openstaand_filter {
  float: right;
  font-family: Roboto-Bold !important;
}

a#bestellingen-openstaand_previous:hover {
  color: #fff !important;
}

a#bestellingen-openstaand_next:hover {
  color: #fff !important;
}

#bestellingen-afgerond_length {
  float: right !important;
  height: 28px !important;
}

div#bestellingen-afgerond_filter {
  float: right;
  font-family: Roboto-Bold !important;
}

a#bestellingen-afgerond_previous:hover {
  color: #fff !important;
}

a#bestellingen-afgerond_next:hover {
  color: #fff !important;
}

td.betaald {
  color: green !important;
}

.dropd:hover {
  color: #fff;
}

.dropdown-right {
  float: right;
  line-height: 2.4;
  font-size: 0.9rem;
}

.dropdown-down {
  float: right;
  line-height: 2.4;
  font-size: 0.9rem;
}