select {
  height: 38px !important;
  margin-left: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: $main_color_light;
  color: #fff !important;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem !important;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
}

.form-control {
  background-color: $main_color_light !important;
}

.mdc-select__native-control {
  background-color: none !important;
}

input[type="search"] {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-left: 10px;
  height: 38px;
}

a.paginate_button:hover {
  background: $main_color_shadow !important;
  border-color: $main_color_shadow !important;
}

a.paginate_button.current {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  background: $main_color_shadow !important;
  color: #fff !important;
}

.data {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

a.paginate_button.current {
  color: #fff !important;
}

.dropdown-toggle {
  float: right;
  line-height: 2.2;
}

.uitvoeren {
  height: 38px;
  background-color: $main_color_light !important;
}

.table-card {
  letter-spacing: .0892857143em !important;
  font-weight: 500 !important;
  font-size: .875rem !important;
  font-family: Roboto,sans-serif !important;
  border: none !important;
  outline: none !important;
}

.mdc-select__menu.mdc-menu.mdc-menu-surface.mdc-menu-surface--open {
  z-index: 9999 !important;
}