/* -------------------------------------------- */
/*                BODY WIDGETS                  */
/* -------------------------------------------- */
.row.widgets {
  margin: 0px;
}

.container-fluid.body {
  margin-top: 2rem;
}

.card-body.dashboard {
  background-color: $main_color_shadow !important;
  border-radius: 6px;
  display: grid;
  text-align: right;
}

.card.text-white.mb-3 {
  border-color: $main_color;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
  border: none;
}

.card-title.dashboard {
  float: right;
  margin-bottom: 0;
  margin-top: 0 !important;
}

.card-text {
  float: right;
}

h1.card-title.numbers {
  font-family: Roboto-Bold;
}

.card-icons {
  float: left;
  font-size: 2.5rem;
}

i.fas.fa-users.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-star-half-alt.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-box.cardWidget {
  width: 55px !important;
  float: left;
}

i.fas.fa-money-bill-wave.cardWidget {
  width: 55px !important;
  float: left;
}
