/* -------------------------------------------- */
/*                    NAV                       */
/* -------------------------------------------- */
nav.navbar.navbar-light.bg-light.justify-content-between {
  height: 72px;
}

button.btn.btn-primary.nav-buttons {
  background-color: $main_color;
  border-color: $main_color;
  padding-left: 16px;
  padding-right: 16px;
}

.form-inline {
  margin-bottom: 0 !important;
}

.nav {
  height: 65px;
  border-bottom: 1px solid #e1e1ef;
}

.hiNav {
  font-size: 0.8rem;
}

.usernameNav {
  font-size: 0.95rem;
  font-family: Roboto-Bold;
}

.usernameFirstLetter {
  font-family: Roboto-Bold;
}


.mdc-chip-set:hover {
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #eceef0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.mdc-chip {
  background: $main_color_light;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  #account {
    display: none !important;
  }

  #help {
    display: none !important;
  }

}