div#nieuwsbrief_filter {
  float: right;
  font-family: Roboto-Bold !important;
}

div#nieuwsbrief_length {
  float: right;
  font-family: Roboto-Bold !important;
}

a#nieuwsbrief_previous:hover {
  color: #fff !important;
}

a#nieuwsbrief_next:hover {
  color: #fff !important;
}