div#reviews_filter {
  float: right;
  font-family: Roboto-Bold !important;
}

div#reviews_length {
  float: right;
  font-family: Roboto-Bold !important;
}

a#reviews_previous:hover {
  color: #fff !important;
}

a#reviews_next:hover {
  color: #fff !important;
}