/* -------------------------------------------- */
/*                    SIDEBAR                   */
/* -------------------------------------------- */
#sidebar {
  background-color: $main_color;
  width: 240px;
  height: 100%;
  float: left;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.sidebarUl {
  padding: 0px;
  overflow: hidden;
  height: 100% !important;
  display: inline;
}

.sidebarLi {
  padding: 30px;
  font-size: 1rem;
}

.sidebarLi:hover {
  background: $main_color_shadow;

  .sidebarData {
    color: #fff;
  }

  .sidebar-icon {
    color: $main_color_light;
  }
}

li.submenu-bestellingenLi.openstaand:hover {
  background: $main_color_shadow;

  .sidebarData {
    color: #fff;
  }

  .sidebar-icon {
    color: $main_color_light;
  }

  .sidebar-title {
    color: #fff;
  }
}

li.submenu-bestellingenLi.afgerond:hover {
  background: $main_color_shadow;

  .sidebarData {
    color: #fff;
  }

  .sidebar-icon {
    color: $main_color_light;
  }

  .sidebar-title {
    color: #fff;
  }
}

.active {
  background: $main_color_shadow;

  .sidebarData {
    color: #fff;
  }

  .sidebar-icon {
    color: $main_color_light;
  }
}

.iconwidth {
  font-size: 1.2rem;
  width: 21.615px;
}

.iconwidthBestellingen {
  font-size: 1rem;
}

.bestellingen {
  padding-left: 13px;
}

.openstaand {
  padding-top: 15px !important;
}

.afgerond {
  padding-bottom: 15px !important;
}

.sidebar-icon {
  padding-right: 20px;
}

.sidebarData {
  color: #a2a3b7;
}

.active {
  background: $sidebar !important;
  color: #fff;
}

.profile-picture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid $main_color_shadow;
}

.sidebarUsername {
  float: right;
  position: relative;
  right: 2.3rem;
  top: 1.6rem;
  font-family: Roboto-Bold;
  margin: 0;
}

.adminVersie {
  float: right;
  position: relative;
  right: -0.6rem;
  top: 3rem;
  margin: 0;
  font-weight: 100;
  font-family: Roboto-Regular;
  font-size: 0.9rem;
}

.sidebarProfilePicture {
  padding: 1rem;
  color: #fff;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid $main_color_shadow;
}

.submenu-bestellingenLi {
  padding: 20px;
  padding-left: 29px;
  padding-right: 29px;
}

.submenu-bestellingenUl {
  list-style: none !important;
  padding-left: 0px;
}